.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .containerButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    margin-block: 10%;
  }
  .number {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .btn {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .btn:disabled {
    background-color: gray;
    cursor: not-allowed;
  }